.thank-you{
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 14rem;
}
.thank-you>img{
    height: 35rem;
}
.link{
    text-decoration: none;
}