.btn{
    width: 5.625rem;
    height: 2.188rem;
    background-color: white;
    border: 1px solid rgb(179, 175, 175);
    font-size: 0.8rem;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 0.3rem grey;
}

.primary{
    color: var(--primary-color);
}
.primary:hover{
    color: var(--orange);
}
.secondary{
    color: var(--secondary-color);
}
.secondary:hover{
    color: var(--red);
}