.search-box>input{
    border: none;
    padding: 0.6rem;
    padding-left: 0;
    background-color: white;
    font-size: 0.93rem;
    margin-left: 0.4rem;
}
.search-box>input:focus{
    outline: none;
}