.location{
    margin-left: 10px;
}
.location>span{
    opacity: 0.5;
}
.location>ins{
    font-weight:bold;
}
.location>img{
    height: 15px;
}
.location:hover>ins, .control_options:hover{
    color: #ff0000;
}
