.sidebar{
  padding: 0.7rem;
  margin: 1.5rem 3rem 0 0;
  border-right: 1px solid rgb(226, 222, 222);
}

.sidebar>p{
  margin: 1.1rem;
  text-align: end;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
}
.sidebar>p:hover{
  color: red;
}
.sidebar>p.active{
  color: red;
  transform: scale(1.1);
}